body {
  transition: .3s;
  overflow-x: hidden;
}

.no-mbp {
  margin: 0!important;
  padding: 0!important;
  border-radius: 0!important;
}

.nav-toggle {
  position: fixed;
  top: 4%;
  left: 4%;
  z-index: 2;
  padding: 15px;
  font-size: 40px;
  color: #fff;
}

.nav-toggle:hover { cursor: pointer }

.navbar {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin: 0!important;
  border-radius: 0!important;
  background-color: #202020;
}

.navbar ul {
  margin-top: 150px;
  padding: 5% 0 8%;
  text-align: center;
}

.navbar ul li {
  padding: 2% 5%;
  display: inline;
}

.navbar ul li a {
  font-family: Oswald, sans-serif;
  font-size: 200%;
  color: #fff;
}

.navbar ul li a:hover {
  text-decoration: none;
  color: #ff3635;
}

@media(max-height: 500px){
  .navbar {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    overflow-y: scroll;
    max-height: inherit;
  }
}

@media(max-width: 768px){
  .navbar {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    overflow-y: scroll;
    max-height: inherit;
  }
  .navbar ul { margin-top: 100px }
  .navbar ul li { display: block }
  .navbar ul li a { font-size: 150%; }
}

.nav-bottom {
  padding: 2% 0;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: #fff;
  animation-delay: .8s;
}

.nav-bottom a {
  margin: 1%;
  color: #fff;
}

.nav-bottom a:hover {
  text-decoration: none;
  color: #ff3635;
}

.home-link { animation-delay: .3s }

.about-link { animation-delay: .6s }

.works-link { animation-delay: .9s }

.contact-link { animation-delay: 1.2s }

.my-logo {
  position: absolute;
  right: 4%;
  top: 3%;
  width: 150px;
  animation-delay: .2s;
}

@media(max-width: 768px){
  .my-logo { width: 130px; }
}

@media(max-width: 600px){
  .my-logo { top: 4%; }
}

@media(max-width: 500px){
  .my-logo { width: 120px; }
}

.home-left .jumbotron {
  height: 100vh;
  background-color: #eee;
  background: url('../content/img/laptop-photo.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-left .jumbotron img {
  margin-top: 20%;
  width: 60%;
  animation-delay: .6s;
}

.home-left .jumbotron h2 {
  font-family: Oswald, sans-serif;
  font-weight: bolder;
  color: #fff;
  animation-delay: .8s;
}

.home-right h1,
.home-websites-left h2,
.photos h2 {
  margin-top: 27.5%;
  margin-left: 5%;
  font-family: oswald, sans-serif;
  font-weight: bolder;
  font-size: 300%;
  animation-delay: .2s;
}

.home-right p,
.home-websites-left p,
.photos p {
  margin-left: 5%;
  margin-right: 5%;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 120%;
  line-height: 170%;
  color: #000;
  animation-delay: .6s;
}

.home-right hr,
.home-websites-left hr,
.photos hr {
  margin: 1% 5%;
  width: 100px;
  padding: .2%;
  text-align: left;
  color: #ff3635;
  background-color: #ff3635;
  border-color: #ff3635;
  animation-delay: .4s;
}

.home-right .btn,
.home-websites-left .btn,
.photos .btn {
  margin: 1% 5% 1%;
  font-family: lato, sans-serif;
  font-weight: 300;
  background-color: transparent;
  border: 3px solid #000;
  border-radius: 5px;
  color: #000;
  animation-delay: .8s;
}

@media(max-height: 450px) {
  .home-left .jumbotron img { margin-top: 20% }
  .home-left .jumbotron { height: 500px }
  .home-right h1 { margin-top: 15% }
  .home-right .btn { margin-bottom: 15% }
}

.home-right .btn:hover,
.home-websites-left .btn:hover,
.photos .btn:hover { color: #fff }

.home-websites .jumbotron {
  height: 100vh;
  background-color: #eee;
  background: url('../content/img/websites.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media(max-height: 450px) {
  .home-websites .jumbotron { height: 500px }
  .home-websites-left h2 { margin-top: 15% }
  .home-websites-left .btn { margin-bottom: 15% }
}

.photos-left .jumbotron {
  height: 100vh;
  background-color: #eee;
  background: url('../content/img/newpoint-long-exposure.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media(max-height: 450px) {
  .photos-left .jumbotron { height: 500px }
  .photos-right { height: auto }
  .photos h2 { margin-top: 15% }
  .photos .btn { margin-bottom: 15% }
}

@media(max-width: 767px) {
  .home-right h1,
  .home-websites-left h2,
  .photos-right h2 { margin-top: 15% }
  .home-right .btn,
  .home-websites-left .btn,
  .photos-right .btn { margin-bottom: 10% }
}

/**********************************************
                    ABOUT
***********************************************/
.red { color: #ff3635 }

.about{
  color: #fff;
  background-color: #d3d3d3;
  background: url('../content/img/carlsantos-long-exposure2.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about h1 {
  margin-top: 13%;
  font-family: Oswald, sans-serif;
}

.about p {
  width: 50%;
  margin: 1% auto 12%;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 140%;
  line-height: 175%;
}

.about hr,
.services hr,
.photography hr {
  padding: .1%;
  width: 100px;
  margin: auto;
  color: #ff3635;
  background-color: #ff3635;
  border-color: #ff3635;
}

@media(max-width: 768px){
  .about h1 { margin-top: 100px }
  .about p {
    width: 80%;
    font-size: 120%;
    line-height: 125%;
  }
}

.services {
  background: #fff url('../content/img/carl-santos-bnw-logo.png') no-repeat right;
  background-size: contain;

}

.services-icons { padding: 4% 0 2% }

.services-icons .fa { color: #202020 }

.services h2,
.services-icons h4,
.photography h2,
.photography h4 { font-family: Oswald, sans-serif }

.services-icons p,
.photography p {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 120%;
  line-height: 180%;
}


.photography h2,
.photography h4,
.photography p { color: #fff }


.photography {
  background-color: #eee;
  background: url('../content/img/carlsantos-burst-shot2.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.photog1,
.photog2 img {
  margin-top: 40px;
}

.photog1 h4,
.photog2 h4 { animation-delay: .1s }
.photog1 p,
.photog2 p {
  margin-bottom: 40px;
  animation-delay: .2s
}

.resume {
  margin: 20px auto;
  font-family: lato, sans-serif;
  font-weight: 300;
  background-color: transparent;
  border: 3px solid #000;
  border-radius: 5px;
  color: #000;
  animation-delay: .8s;
}

.resume:hover {
  border: 3px solid #000;
  color: #fff;
}

/**********************
        FOOTER
**********************/
.microdata { display: none; }

footer {
  padding: 1%;
  border-top: 1px solid #d3d3d3;
  font-family: lato, sans-serif;
  font-weight: 300;
}
