.no-mbp {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav {
  font-family: "Open Sans"; }

.navbar-default .navbar-brand {
  font-size: 140%;
  font-weight: 800; }

.navbar-default .navbar-toggle {
  background: #fff !important;
  border-color: #fff !important; }

.navbar-default .navbar-toggle:hover {
  background: transparent !important; }

.navbar-default .navbar-nav {
  font-size: 110%;
  font-weight: 600; }

.navbar-default .navbar-nav a:hover {
  color: #2098d1 !important; }

.navbar {
  padding: 3% 2%;
  background: transparent;
  border: transparent;
  transition: .5s; }
  .navbar .navbar-brand,
  .navbar .navbar-nav li a {
    color: #fff !important; }
  .navbar .navbar-nav .active a,
  .navbar .navbar-nav .active a:focus {
    color: #2098d1;
    background-color: transparent !important; }

.navbar2 {
  padding: 0;
  background: #fff;
  border-bottom: 2px solid #eee;
  transition: .5s; }
  .navbar2 .navbar-brand,
  .navbar2 .navbar-nav li a {
    color: #202020 !important; }
  .navbar2 .navbar-nav .active a,
  .navbar2 .navbar-nav .active a:focus {
    color: #fff !important;
    background-color: #2098d1 !important; }

.home {
  height: 100vh;
  background: #d3d3d3 url("../assets/img/smoke2.jpg") no-repeat center center;
  background-size: cover; }
  .home .head-text {
    position: relative;
    top: 50%;
    left: 5%;
    width: 35%; }
    .home .head-text h1,
    .home .head-text p,
    .home .head-text .join {
      color: #fff; }
    .home .head-text h1 {
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 280%; }
    .home .head-text p {
      font-family: "Lato"; }
    .home .head-text .join {
      font-family: "Lato";
      background: transparent;
      border: 2px solid #fff; }
    .home .head-text .join:hover {
      text-decoration: none;
      background: #fff;
      color: #202020;
      transition: .5s; }
