.no-mbp {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav {
  font-family: "Open Sans"; }

.navbar-default .navbar-brand {
  font-size: 140%;
  font-weight: 800; }

.navbar-default .navbar-toggle {
  background: #fff !important;
  border-color: #fff !important; }

.navbar-default .navbar-toggle:hover {
  background: transparent !important; }

.navbar-default .navbar-nav {
  font-size: 110%;
  font-weight: 600; }

.navbar-default .navbar-nav a:hover {
  color: #2098d1 !important; }

@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    background: #fff; } }

.navbar {
  padding: 3% 5%;
  background: transparent;
  border: transparent;
  transition: .5s; }
  .navbar .navbar-brand,
  .navbar .navbar-nav li a {
    color: #fff !important; }
  @media (max-width: 767px) {
    .navbar .navbar-nav li a {
      color: #202020 !important; } }
  .navbar .navbar-nav .active a,
  .navbar .navbar-nav .active a:focus {
    color: #2098d1;
    background-color: transparent !important; }

.navbar2 {
  padding: 0;
  background: #fff;
  border-bottom: 2px solid #eee;
  transition: .5s; }
  .navbar2 .navbar-brand,
  .navbar2 .navbar-nav li a {
    color: #202020 !important; }
  .navbar2 .navbar-nav .active a,
  .navbar2 .navbar-nav .active a:focus {
    color: #fff !important;
    background-color: #2098d1 !important; }

.home {
  height: 100vh;
  background: #d3d3d3 url("../assets/img/smoke2.jpg") no-repeat center center;
  background-size: cover; }
  .home .head-text {
    position: relative;
    top: 50%;
    left: 5%;
    width: 40%; }
    .home .head-text h1,
    .home .head-text p,
    .home .head-text .join {
      color: #fff; }
    .home .head-text h1 {
      font-family: "Open Sans";
      font-weight: 800;
      font-size: 300%; }
    .home .head-text p {
      font-family: "Lato"; }
    .home .head-text .join {
      font-family: "Open Sans";
      font-weight: 600;
      background: transparent;
      border: 2px solid #fff; }
    .home .head-text .join:hover {
      text-decoration: none;
      background: #fff;
      color: #202020;
      transition: .5s; }
  @media (max-width: 715px) {
    .home .head-text {
      top: 40%;
      left: 3%;
      width: 80%; } }
  @media (max-width: 373px) {
    .home .head-text {
      width: 95%; } }

@media (max-height: 600px) {
  .home {
    height: 600px; } }

.about h1 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 300%; }

.about .title {
  margin: 8% 0% 2%;
  text-align: center; }

.about .about-left-panel,
.about .about-right-panel {
  font-family: "Lato";
  font-size: 19px; }

.about .about-right-panel {
  padding: 4%; }

.about .about-left-panel {
  padding: 13% 9%; }

.about .gif {
  background: #d3d3d3 url("../assets/img/chem-lab.jpg") no-repeat center center;
  width: 80vh;
  height: 70vh; }

@media (max-width: 766px) {
  .about .title {
    font-size: 25px; }
  .about .about-left-panel {
    font-size: 17px; }
  .about .gif {
    width: auto; } }

@media (max-width: 988px) {
  .about .gif {
    width: auto; } }
