body {
  overflow-x: hidden; }

.no-mbp {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav {
  font-family: "Open Sans"; }

.navbar-default .navbar-brand {
  font-size: 150%;
  font-weight: 700; }

.navbar-default .navbar-toggle {
  background: #fff !important;
  border-color: #fff !important; }

.navbar-default .navbar-toggle:hover {
  background: transparent !important; }

.navbar-default .navbar-nav {
  font-size: 110%;
  font-weight: 600; }

.navbar-default .navbar-nav a:hover {
  color: #2098d1 !important; }

@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    background: #fff; } }

.navbar {
  padding: 0 5%;
  background: transparent;
  border: transparent;
  transition: .5s; }
  .navbar .navbar-brand,
  .navbar .navbar-nav li a {
    color: #fff !important; }
  @media (max-width: 767px) {
    .navbar .navbar-nav li a {
      color: #202020 !important; } }
  .navbar .navbar-nav .active a,
  .navbar .navbar-nav .active a:focus {
    color: #2098d1 !important;
    background-color: transparent !important; }

.navbar2 {
  padding: 0 5%;
  background: #fff;
  border-bottom: 2px solid #eee;
  transition: .5s; }
  .navbar2 .navbar-brand,
  .navbar2 .navbar-nav li a {
    color: #202020 !important; }
  .navbar2 .navbar-nav a:hover,
  .navbar2 .navbar-nav .active a:hover {
    color: #fff !important;
    background-color: #2098d1 !important; }
  .navbar2 .navbar-nav .active a,
  .navbar2 .navbar-nav .active a:focus {
    color: #2098d1 !important; }

.home {
  height: 100vh;
  background: #d3d3d3 url("../assets/img/smoke2.jpg") no-repeat center center;
  background-size: cover; }
  .home .head-text {
    position: relative;
    top: 45%;
    left: 5%;
    width: 40%; }
    .home .head-text h1,
    .home .head-text p,
    .home .head-text .join {
      color: #fff; }
    .home .head-text h1 {
      font-family: "Open Sans";
      font-weight: 800;
      font-size: 300%; }
    .home .head-text p {
      font-family: "Lato"; }
    .home .head-text .join {
      font-family: "Open Sans";
      font-weight: 600;
      background: transparent;
      border: 2px solid #fff; }
    .home .head-text .join:hover {
      text-decoration: none;
      background: #fff;
      color: #202020;
      transition: .5s; }
  @media (max-width: 715px) {
    .home .head-text {
      top: 40%;
      left: 3%;
      width: 80%; } }
  @media (max-width: 373px) {
    .home .head-text {
      width: 95%; } }

@media (max-height: 600px) {
  .home {
    height: 600px; } }

.about h2 {
  font-family: "Open Sans";
  font-weight: 800; }

.about .title {
  margin: 8% 0% 2%;
  text-align: center; }

.about .about-left-panel,
.about .about-right-panel {
  font-family: "Lato";
  font-size: 19px; }

.about .about-right-panel {
  padding: 4%; }

.about .about-left-panel {
  padding: 10%;
  text-align: center; }

.about .gif {
  background: #d3d3d3 url("../assets/img/chem-lab.jpg") no-repeat center center;
  width: 80vh;
  height: 70vh; }

@media (max-width: 766px) {
  .about .title {
    font-size: 25px; }
  .about .about-left-panel {
    font-size: 17px; }
  .about .gif {
    width: auto; } }

@media (max-width: 988px) {
  .about .gif {
    width: auto; } }

.features {
  padding: 5% 0 !important;
  background: #a9e4f7;
  background: -moz-linear-gradient(top, #a9e4f7 4%, #0fb4e7 100%);
  background: -webkit-linear-gradient(top, #a9e4f7 4%, #0fb4e7 100%);
  background: linear-gradient(to bottom, #a9e4f7 4%, #0fb4e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); }
  .features h2 {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 300%;
    color: #fff; }
  .features .three-icons {
    width: 80%;
    margin: auto; }
    .features .three-icons .book,
    .features .three-icons .simulation,
    .features .three-icons .video {
      margin-top: 10%;
      margin-bottom: 8%;
      opacity: .85; }
      .features .three-icons .book div,
      .features .three-icons .simulation div,
      .features .three-icons .video div {
        width: 98%;
        padding: 15% 3%;
        margin: auto;
        background: #fff;
        box-shadow: 0 1px 20px #888889;
        border-radius: 2px; }
        .features .three-icons .book div h3,
        .features .three-icons .simulation div h3,
        .features .three-icons .video div h3 {
          font-family: "Open Sans";
          font-weight: 700; }
        .features .three-icons .book div p,
        .features .three-icons .simulation div p,
        .features .three-icons .video div p {
          font-family: "Lato";
          font-size: 120%; }
        .features .three-icons .book div i,
        .features .three-icons .simulation div i,
        .features .three-icons .video div i {
          position: absolute;
          left: 50%;
          top: -2%;
          transform: translate(-50%, -50%);
          margin: auto;
          padding: 10px 16px;
          border: 1px solid #2098d1;
          border-radius: 1000px;
          background: #2098d1;
          color: #fff;
          box-shadow: 0 1px 2px #888889; }
