$white: #fff;
$black: #202020;
$blue: #2098d1;
$gray: #eee;
$transparent: transparent;
$font1: 'Open Sans';
$font2: 'Lato';

.no-mbp {
  padding: 0!important;
  margin: 0!important;
  border-radius: 0!important;
}

.navbar-default {
  .navbar-brand,
  .navbar-nav { font-family: $font1; }

  .navbar-brand {
    font-size: 140%;
    font-weight: 800;
  }

  .navbar-toggle {
    background: $white!important;
    border-color: $white!important;
  }

  .navbar-toggle:hover { background: $transparent!important; }

  .navbar-nav {
    font-size: 110%;
    font-weight: 600;
  }

  .navbar-nav a:hover { color: $blue!important }

  @media(max-width: 767px) {
    .navbar-collapse { background: $white; }
  }

}

.navbar {
  padding: 3% 5%;
  background: $transparent;
  border: $transparent;
  transition: .5s;

  .navbar-brand,
  .navbar-nav li a { color: $white!important; }
  @media(max-width: 767px) {
    .navbar-nav li a { color: $black!important; }
  }
  .navbar-nav .active a,
  .navbar-nav .active a:focus {
    color: $blue;
    background-color: transparent !important; }
}

.navbar2 {
  padding: 0;
  background: $white;
  border-bottom: 2px solid $gray;
  transition: .5s;

  .navbar-brand,
  .navbar-nav li a { color: $black!important; }
  .navbar-nav .active a,
  .navbar-nav .active a:focus {
    color: $white!important;
    background-color: $blue!important; }
}

.home {
  height: 100vh;
  background: #d3d3d3 url('../assets/img/smoke2.jpg') no-repeat center center;
  background-size: cover;

  .head-text {
    position: relative;
    top: 50%;
    left: 5%;
    width: 40%;

    h1,
    p,
    .join { color: $white; }

    h1 {
      font-family: $font1;
      font-weight: 800;
      font-size: 300%;
    }

    p { font-family: $font2; }

    .join {
      font-family: $font1;
      font-weight: 600;
      background: $transparent;
      border: 2px solid $white;
    }

    .join:hover {
      text-decoration: none;
      background: $white;
      color: $black;
      transition: .5s;
    }
  }

  @media(max-width: 715px) {
    .head-text {
      top: 40%;
      left: 3%;
      width: 80%;
    }
  }

  @media(max-width: 373px) {
    .head-text { width: 95% }
  }
}

@media(max-height: 600px ) {
  .home { height: 600px }
}
